#ten {
    background-color: #de2a2a;
}

#add {
    background-color: #00f7ff;
}

#sub {
    background-color: #84e622;
}

button {
    color: white;
    background-color: rgb(95, 94, 94);
    padding: 5%;
    padding-left: 10%;
    padding-right: 10%;
    border-radius: 20px;
    border-color: #5e0f83;
}

button:hover {
    color: rgb(95, 94, 94);
    background: white;
}

input {
    background-color: white;
    border-color: black;
}

[class *= "col-"] {
    padding: 2%;
    width: 100%;
}

.row-2 {display: none;}

.row-3 {display: none;}

.row-4 {
    color: white;
    font-family: sans-serif;
    font-weight: 200;
    font-size: 2em;
}

footer {
    margin-top: 20%
}

footer p{
    text-align: center;
    font-family: sans-serif;
    font-size: .75em;
    margin-top: 0%;
    padding-top: 0px;
}
