* {
    background-color: teal;
}

button {
    color: white;
    background-color: rgb(95, 94, 94);
    padding: 5%;
    border-radius: 20px;
    border-color: #5e0f83;
}

button:hover {
    color: rgb(95, 94, 94);
    background: white;
}

input {
    background-color: white;
    border-color: black;
}

[class *= "col-"] {
    float: left;
    padding: 5px;
}

.col-1 {width: 49%;}

.col-2 {width: 49%;}

.row-2 {display: none;}

.row-3 {display: none;}