#ten {
    background-color: fuchsia;
}

#add {
    background-color: teal;
}

#sub {
    background-color: dodgerblue;
}

button {
    color: white;
    background-color: rgb(95, 94, 94);
    padding: 5%;
    padding-left: 10%;
    padding-right: 10%;
    border-radius: 20px;
    border-color: #5e0f83;
}

button:hover {
    color: rgb(95, 94, 94);
    background: white;
}

input {
    background-color: white;
    border-color: black;
}

[class *= "col-"] {
    padding: 2%;
    width: 100%;
}

.row-2 {display: none;}

.row-3 {display: none;}